langchain
langchain-groq
langchain_community 
langchain-openai
faiss-cpu
tiktoken
chromadb
sentence-transformers
pypdf
python-dotenv
ipykernel
pandas
unstructured
python-docx

# Handling PDFs
pymupdf
# Handling DOCX
docx2txt
docx
#CSV&excel ra
openpyxl
xlrd
# json
jq